body {
	background: url(g.jpg);
}
.content-table {
	border-collapse: collapse;
	margin: 25px 0;
	margin-left: 140px;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}
.content-table thead tr {
	background-color: red;
	color: #fff;
	text-align: left;
	font-weight: bold;
}
.content-table th, .content-table td {
	padding: 12px 15px;
}
.content-table tbody tr {
	background-color: white;
	border-bottom: 1px solid #fff;
	text-align: center;x
}
.content-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
	border-bottom:  1px solid #ff4d4d;
}
.content-table tbody tr.active-row {
	font-weight: bold;
	color: #f3f3f3;
}